{
  "openapi": "3.0.1",
  "info": {
    "title": "Riigikogu avaandmete dokumentatsioon",
    "description": "Riigikogu avaandmete REST API dokumentatsioon",
    "version": "2.21.5"
  },
  "servers": [
    {
      "url": "https://api.riigikogu.ee",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Hääletused",
      "description": "Hääletused"
    },
    {
      "name": "Dokumendid",
      "description": "Dokumendid"
    }
  ],
  "paths": {
    "/api/votings/{uuid}": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Hääletuse detailid",
        "operationId": "getVoting",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Hääletuse UUID",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlenaryVotingDetailsResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings/plenary-member/{uuid}": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Riigikogu liikme hääletused",
        "operationId": "getPlenaryMemberVotings",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Liikme UUID",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplPlenaryMemberVotingResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings/last": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Viimane hääletus",
        "operationId": "getLastVoting",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlenaryVotingDetailsResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings/committees/{uuid}": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Komisjoni hääletused",
        "operationId": "findCommitteeVotings",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitteeSittingVolumeResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings/committees": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Riigikogu liikme hääletused komisjonides",
        "operationId": "findCommitteeMemberVotings",
        "parameters": [
          {
            "name": "userUuid",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitteeMemberUserGroupResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings/calendar": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Hääletuste kalender",
        "description": "Kuupäevad, millal vähemalt üks hääletus on toimunud",
        "operationId": "getVotingCalendar",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VotingDay"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/votings": {
      "get": {
        "tags": [
          "Hääletused"
        ],
        "summary": "Hääletused",
        "operationId": "getVotings",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlenarySittingResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/{uuid}": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Toimiku detailid",
        "operationId": "getVolume",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/written-questions": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Kirjalikud küsimused",
        "operationId": "findWrittenQuestions",
        "parameters": [
          {
            "name": "enquirerUuid",
            "in": "query",
            "description": "Küsija UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplWrittenQuestionResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/interpellations": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Arupärimised",
        "operationId": "findInterpellations",
        "parameters": [
          {
            "name": "enquirerUuid",
            "in": "query",
            "description": "Küsija UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplInterpellationResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/eu": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Euroopa Liidu toimikute otsing",
        "operationId": "findEuropeanUnionDocuments",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[0-9a-žA-Ž \\-!()\\\\\",.':;/„“ˮ]+",
              "type": "string",
              "description": "Pealkiri"
            }
          },
          {
            "name": "titleEn",
            "in": "query",
            "description": "Pealkiri inglise keeles",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[0-9a-zA-Z \\-!()\\\\\",.']+",
              "type": "string",
              "description": "Pealkiri inglise keeles"
            }
          },
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "createdEndDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-üA-Ü/.\\-]*$",
              "type": "string",
              "description": "Viit"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "elTypeCode",
            "in": "query",
            "description": "EL toimiku liik (klassifikaator 'elToimikuliik')",
            "required": false,
            "schema": {
              "pattern": "MUU_EL_DOKUMENT|EL_ALGATUS|NOUKOGU_JA_ULEMKOGU_DOKUMENT",
              "type": "string",
              "description": "EL toimiku liik (klassifikaator 'elToimikuliik')",
              "enum": [
                "MUU_EL_DOKUMENT",
                "EL_ALGATUS",
                "NOUKOGU_JA_ULEMKOGU_DOKUMENT"
              ]
            }
          },
          {
            "name": "elMark",
            "in": "query",
            "description": "EL toimiku tähis",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[0-9\\p{L}]+[0-9\\p{L}-()/ ]*$",
              "type": "string",
              "description": "EL toimiku tähis"
            }
          },
          {
            "name": "receiveDateStart",
            "in": "query",
            "description": "Saabumise kuupäeva algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Saabumise kuupäeva algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "receiveDateEnd",
            "in": "query",
            "description": "Saabumise kuupäeva lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Saabumise kuupäeva lõpp (yyyy-MM-dd)"
            }
          },
          {
            "name": "sectorCode",
            "in": "query",
            "description": "Valdkond (klassifikaator 'elValdkond')",
            "required": false,
            "schema": {
              "pattern": "KESKKOND|HARIDUS_KULTUUR_NOORED|TOOHOIVE_SOTSIAAL_TERVISHOID_TARBIJAKAITSE|POLLUMAJANDUS_KALANDUS|TRANSPORT_TELE_ENERGEETIKA|JUSTIITS_SISEKUSIMUSED|MAJANDUS_RAHANDUS|KONKURENTSIVOIME|ULDASJAD|VALISASJAD",
              "type": "string",
              "description": "Valdkond (klassifikaator 'elValdkond')",
              "enum": [
                "KESKKOND",
                "HARIDUS_KULTUUR_NOORED",
                "TOOHOIVE_SOTSIAAL_TERVISHOID_TARBIJAKAITSE",
                "POLLUMAJANDUS_KALANDUS",
                "TRANSPORT_TELE_ENERGEETIKA",
                "JUSTIITS_SISEKUSIMUSED",
                "MAJANDUS_RAHANDUS",
                "KONKURENTSIVOIME",
                "ULDASJAD",
                "VALISASJAD"
              ]
            }
          },
          {
            "name": "responsibleCommitteeUuid",
            "in": "query",
            "description": "Vastutava komisjoni UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Vastutava komisjoni UUID"
            }
          },
          {
            "name": "sectorCommitteeUuid",
            "in": "query",
            "description": "Valdkonna komisjoni UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Valdkonna komisjoni UUID"
            }
          },
          {
            "name": "opinionCommitteeUuid",
            "in": "query",
            "description": "Arvamuse andja komisjoni UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Arvamuse andja komisjoni UUID"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "description": "Dokumendi liik (sh EL dokumendi liigid)",
            "required": false,
            "schema": {
              "pattern": "^[a-zA-Z]+[a-zA-Z_]*$",
              "type": "string",
              "description": "Dokumendi liik (sh EL dokumendi liigid)"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplEUVolumeSearchResultResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/erjk-protocols/{uuid}": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "ERJK protokoll",
        "description": "Väljastab ERJK protokolli detailinfo. Võimaldab otsida toimiku ID alusel. Tagastab toimiku ID, viite, pealkirja, liigi, loomise aja, dokumendi lingi, dokumendi ID, dokumendi viite, dokumendi pealkirja, dokumendi liigi, dokumendi kuupäeva, dokumendi faili lingi, dokumendi faili ID, dokumendi failinime ja dokumendi faililaiendi.",
        "operationId": "findErjkProtocol",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Toimiku UUID",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Toimiku UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERJKProtocolVolumeResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/erjk-protocols": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "ERJK protokollide nimekiri",
        "description": "Väljastab ERJK protokollide nimekirja. Tagastab toimiku ID, viite, pealkirja, liigi, loomise aja, dokumendi lingi, dokumendi ID, dokumendi viite, dokumendi pealkirja, dokumendi liigi, dokumendi kuupäeva, dokumendi faili lingi, dokumendi faili ID, dokumendi failinime ja dokumendi faililaiendi.",
        "operationId": "findErjkProtocols",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ERJKProtocolVolumeResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/drafts/{uuid}": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Eelnõu detailid",
        "operationId": "getDraftVolume",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest päevakorra lingid? (true/false)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftVolumeResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes/drafts": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Eelnõude otsing",
        "operationId": "findDraftVolumes",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[0-9a-žA-Ž \\-!()\\\\\",.':;/„“ˮ]+",
              "type": "string",
              "description": "Pealkiri"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "schema": {
              "pattern": "^[0-9]+[0-9-/ ]*$",
              "type": "string",
              "description": "Viit"
            }
          },
          {
            "name": "mark",
            "in": "query",
            "description": "Registreerimise number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Registreerimise number"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "draftTypeCode",
            "in": "query",
            "description": "Eelnõu liik (klassifikaator 'eelnouLiik')",
            "required": false,
            "schema": {
              "pattern": "UA|DE|PE|AE|TK|SE|OE",
              "type": "string",
              "description": "Eelnõu liik (klassifikaator 'eelnouLiik')",
              "enum": [
                "UA",
                "DE",
                "PE",
                "AE",
                "TK",
                "SE",
                "OE"
              ]
            }
          },
          {
            "name": "proceedingStatus",
            "in": "query",
            "description": "Menetluse staatus",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Menetluse staatus"
            }
          },
          {
            "name": "activeDraftStage",
            "in": "query",
            "description": "Aktiivne menetlusetapp",
            "required": false,
            "schema": {
              "pattern": "^[a-zA-Z]+[a-zA-Z_]*$",
              "type": "string",
              "description": "Aktiivne menetlusetapp"
            }
          },
          {
            "name": "leadingCommitteeUuid",
            "in": "query",
            "description": "Juhtivkomisjoni UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Juhtivkomisjoni UUID"
            }
          },
          {
            "name": "responsibleMemberUuid",
            "in": "query",
            "description": "Juhtivkomisjoni esindaja UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Juhtivkomisjoni esindaja UUID"
            }
          },
          {
            "name": "initiatorUuid",
            "in": "query",
            "description": "Algataja UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Algataja UUID"
            }
          },
          {
            "name": "initiatedStartDate",
            "in": "query",
            "description": "Algatamise kuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Algatamise kuupäeva vahemiku algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "initiatedEndDate",
            "in": "query",
            "description": "Algatamise kuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Algatamise kuupäeva vahemiku lõpp (yyyy-MM-dd)"
            }
          },
          {
            "name": "amendmentsDeadlineStartDate",
            "in": "query",
            "description": "Muudatuseteepanekute tähtaja vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Muudatuseteepanekute tähtaja vahemiku algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "amendmentsDeadlineEndDate",
            "in": "query",
            "description": "Muudatuseteepanekute tähtaja vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Muudatuseteepanekute tähtaja vahemiku lõpp (yyyy-MM-dd)"
            }
          },
          {
            "name": "descriptorId",
            "in": "query",
            "description": "Märksõna ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Märksõna ID"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplDraftVolumeSearchResultResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/volumes": {
      "get": {
        "tags": [
          "Toimikud"
        ],
        "summary": "Toimikute otsing",
        "operationId": "findVolumes",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[0-9a-žA-Ž \\-!()\\\\\",.':;/„“ˮ]+",
              "type": "string",
              "description": "Pealkiri"
            }
          },
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)"
            }
          },
          {
            "name": "createdEndDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Loomiskuupäeva vahemiku lõpp (yyyy-MM-dd)"
            }
          },
          {
            "name": "volumeType",
            "in": "query",
            "description": "Toimiku tüüp",
            "required": false,
            "schema": {
              "pattern": "letterVolume|elVolume|dokumenditoimik|unitSittingVolume|officialJourneyVolume|opinionVolume|plenarySittingVolume|infoSittingVolume|interpellationsVolume|eelnou|writtenQuestionVolume|researchVolume|procurementVolume|visitVolume",
              "type": "string",
              "description": "Toimiku tüüp",
              "enum": [
                "letterVolume",
                "elVolume",
                "dokumenditoimik",
                "unitSittingVolume",
                "officialJourneyVolume",
                "opinionVolume",
                "plenarySittingVolume",
                "infoSittingVolume",
                "interpellationsVolume",
                "eelnou",
                "writtenQuestionVolume",
                "researchVolume",
                "procurementVolume",
                "visitVolume"
              ]
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-üA-Ü/.\\-]*$",
              "type": "string",
              "description": "Viit"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "functionGroupUuid",
            "in": "query",
            "description": "Funktsioonigrupi UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Funktsioonigrupi UUID"
            }
          },
          {
            "name": "functionUuid",
            "in": "query",
            "description": "Funktsiooni UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Funktsiooni UUID"
            }
          },
          {
            "name": "seriesUuid",
            "in": "query",
            "description": "Sarja UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Sarja UUID"
            }
          },
          {
            "name": "subseriesUuid",
            "in": "query",
            "description": "Alamsarja UUID",
            "required": false,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Alamsarja UUID"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplVolumeSearchResultResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/usergroups/{uuid}": {
      "get": {
        "tags": [
          "Kasutajagrupid"
        ],
        "summary": "Kasutajagrupp",
        "description": "Väljastab etteantud kasutajagrupi detailandmed. Võimaldab otsida kasutajagruppi selle ID alusel Tagastab kasutajagrupi lingi, ID, nime, lühinime, liigi koodi, liigi väärtuse, värvi, sekretariaadi nime, aktiivsuse, liikmelisuse koosseisu numbri, liikmelisuse alguse, liikmelisuse lõpu, liikmelisuse rolli koodi, liikmelisuse rolli väärtuse, liikmelisuse ametinimetuse koodi, liikmelisuse ametinimetuse väärtuse, liikme ID, liikme eesnime, liikme perekonnanime, liikme täisnime, liikme aktiivsuse, liikme e-postiaadressi, liikme telefoninumbri, liikme foto ID, liikme foto failinime, liikme foto faililaiendi ja liikme foto lingi.",
        "operationId": "getUserGroup",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroupResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/usergroups": {
      "get": {
        "tags": [
          "Kasutajagrupid"
        ],
        "summary": "Kasutajagruppide nimekiri/otsing",
        "description": "Väljastab kasutajagruppide nimekirja (erakonnad, fraktsioonid, komisjonid, osakonnad, ühendused jne) ja võimaldab otsida kasutajagrupi nime ning tüübi koodi alusel. Tagastab kasutajagrupi lingi, ID, nime, lühinime, liigi koodi, liigi väärtuse, värvi, sekretariaadi nime, aktiivsuse, liikmelisuse koosseisu numbri, liikmelisuse alguse, liikmelisuse lõpu, liikmelisuse rolli koodi, liikmelisuse rolli väärtuse, liikmelisuse ametinimetuse koodi, liikmelisuse ametinimetuse väärtuse, liikme ID, liikme eesnime, liikme perekonnanime, liikme täisnime, liikme aktiivsuse, liikme e-postiaadressi, liikme telefoninumbri, liikme foto ID, liikme foto failinime, liikme foto faililaiendi ja liikme foto lingi.",
        "operationId": "findUserGroups",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nimi",
            "required": false,
            "schema": {
              "pattern": "^[\\p{L}\\p{N}]+[\\p{L}\\p{N}-' ]*$",
              "type": "string"
            }
          },
          {
            "name": "typeCode",
            "in": "query",
            "description": "Tüübi kood (klassifikaator 'kasutajagrupiTuup')",
            "required": false,
            "schema": {
              "pattern": "UURIMISKOMISJON|VANA_FRAKTSIOON|VANA_ERIKOMISJON|VANA_ALALINE_KOMISJON|ALALINE_KOMISJON|ERIKOMISJON|RIIGIKOGU_JUHATUS|ESIMEHE_BÜROO|OSAKOND|VALIMISRINGKOND|TOETUSRYHM|ASUTUSE_YKSUS|PARLAMENDIRYHM|YHENDUS|FRAKTSIOON|DELEGATSIOON|RIIGIKOGU_TAISKOGU|ERAKOND|AMETNIK|TALITUS",
              "type": "string",
              "description": "Tüübi kood (klassifikaator 'kasutajagrupiTuup')",
              "enum": [
                "UURIMISKOMISJON,VANA_FRAKTSIOON",
                "VANA_ERIKOMISJON",
                "VANA_ALALINE_KOMISJON",
                "ALALINE_KOMISJON",
                "ERIKOMISJON",
                "RIIGIKOGU_JUHATUS",
                "ESIMEHE_BÜROO",
                "OSAKOND",
                "VALIMISRINGKOND",
                "TOETUSRYHM",
                "ASUTUSE_YKSUS",
                "PARLAMENDIRYHM",
                "YHENDUS",
                "FRAKTSIOON",
                "DELEGATSIOON",
                "RIIGIKOGU_TAISKOGU",
                "ERAKOND",
                "AMETNIK,TALITUS"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "hideInactive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserGroupResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/verbatims": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Stenogrammide tekstid",
        "description": "Steno  teenus: getStenogrammid. Kuupäevade vahemik peab jääma alla aasta.",
        "operationId": "getVerbatims",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Alguskuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Lõppkuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
            "required": false,
            "schema": {
              "pattern": "IS|IK|IT",
              "type": "string",
              "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
              "enum": [
                "IS",
                "IK",
                "IT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VerbatimObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/speeches/last": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Isiku viimane sõnavõtt",
        "description": "Steno  teenus: getViimaneSonavott",
        "operationId": "getLastSpeech",
        "parameters": [
          {
            "name": "userUuid",
            "in": "query",
            "description": "Isiku UUID",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string",
              "description": "Isiku UUID"
            }
          },
          {
            "name": "charCount",
            "in": "query",
            "description": "Tähemärkide arv",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tähemärkide arv"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
            "required": false,
            "schema": {
              "pattern": "IS|IK|IT",
              "type": "string",
              "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
              "enum": [
                "IS",
                "IK",
                "IT"
              ]
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastSpeech"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/speeches/count": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Isiku sõnavõttude arv",
        "description": "Steno teenus: getIsikSonavotudCount",
        "operationId": "getSpeechCount",
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "description": "Isikute UUID-d (komaga eraldatud)",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})*",
              "type": "string",
              "description": "Isikute UUID-d (komaga eraldatud)"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Alguskuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Lõppkuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
            "required": false,
            "schema": {
              "pattern": "IS|IK|IT",
              "type": "string",
              "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
              "enum": [
                "IS",
                "IK",
                "IT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechCount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/speeches": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Isikute kõnede ja sõnavõttude arv",
        "description": "Steno teenus: getStenoTekstIsikKoned",
        "operationId": "getSpeeches",
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "description": "Isikute UUID-d (komaga eraldatud)",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})*",
              "type": "string",
              "description": "Isikute UUID-d (komaga eraldatud)"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Alguskuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Lõppkuupäev (yyyy-MM-dd)"
            }
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Koosseisu number"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
            "required": false,
            "schema": {
              "pattern": "IS|IK|IT",
              "type": "string",
              "description": "Istungi tüüp. „IS“-istung, „IT“-infotund, „IK“-komisjoni istung. Vaikimisi: „IS“",
              "enum": [
                "IS",
                "IK",
                "IT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Speech"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/lastVerbatims": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Viimased stenogrammid",
        "description": "Steno teenus: getViimasedStenogrammid",
        "operationId": "getLastVerbatims",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Tagastatavate stenogrammide arv. Vaikimisi väärtuseks: 5. Lubatud väärtuste vahemik: 1-100.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tagastatavate stenogrammide arv. Vaikimisi väärtuseks: 5. Lubatud väärtuste vahemik: 1-100.",
              "default": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/steno/agenda": {
      "get": {
        "tags": [
          "Steno"
        ],
        "summary": "Päevakorrapunktide steno lingid",
        "description": "Steno teenus: getStenoTekstPaevakordUrl",
        "operationId": "getAgendaUrls",
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "description": "Päevakorrapunktide UUID-d (komaga eraldatud)",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})*",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgendaUrl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/votings/plenary": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Täiskogu hääletuste statistika",
        "description": "Väljastab täiskogu hääletuste statistika. Kuvatakse hääletuste arvu valitud perioodil. Võimaldab otsida kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, otsuse ja kohaloleku info.",
        "operationId": "getPlenaryVotingStatistics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VotingStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/votings/member/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Riigikogu liikme hääletuste statistika",
        "description": "Väljastab riigikogu liikme hääletuse statistika. Kuvatakse hääletuste arvu valitud perioodil. Võimaldab otsida liikme ID ja kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, otsuse ja kohaloleku info.",
        "operationId": "getMemberVotingStatistics",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VotingStatisticsMemberResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/votings/faction/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Fraktsiooni hääletuste statistika",
        "description": "Väljastab fraktsiooni hääletuste statistika. Kuvatakse hääletuste arvu valitud perioodil. Võimaldab otsida fraktsiooni ID ja kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, otsuse ja kohaloleku info.",
        "operationId": "getFactionVotingStatistics",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VotingStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/speeches/plenary": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Täiskogu sõnavõttude statistika",
        "description": "Väljastab täiskogu sõnavõttude statistika. Kuvatakse sõnavõttude arvu valitud perioodil. Võimaldab otsida kuupäeva alusel. Tagastab Riigikogu liikme ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, kõned, küsimused, kõnede ja küsimuste arvu ja lingi.",
        "operationId": "getPlenarySpeechStatistics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpeechStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/speeches/member/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Riigikogu liikme sõnavõttude statistika",
        "description": "Väljastab riigikogu liikme sõnavõttude statistika. Kuvatakse sõnavõttude arvu valitud perioodil. Võimaldab otsida liikme ID ja kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, kõned, küsimused, kõnede ja küsimuste arvu.",
        "operationId": "getMemberSpeechStatistics",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechStatisticsMemberResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/speeches/faction/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Fraktsiooni sõnavõttude statistika",
        "description": "Väljastab fraktsiooni sõnavõttude statistika. Kuvatakse sõnavõttude arvu valitud perioodil. Võimaldab otsida fraktsiooni ID ja kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, kõned, küsimused, kõnede ja küsimuste arvu.",
        "operationId": "getFactionSpeechStatistics",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpeechStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/participations/plenary": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Täiskogu istungitest osavõtu statistika",
        "description": "Kuvatakse valitud perioodil toimunud istungite arv. Võimaldab otsida kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, istungite arvu, osalemise info, puudumise info, lähetuse info, haigusega seotud info, muu info, osavõtu kuupäeva, istungi ID, istungi pealkirja, istungi staatuse, puudumise koodi, puudumise väärtuse ja puudumise kirjelduse.",
        "operationId": "getPlenaryParticipation",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Liikmete staatuse järgi päring: aktiivsed, mitteaktiivsed või kõik. Kui määratlemata, siis kõik",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "ALL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParticipationStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/participations/member/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Riigikogu liikme istungitest osavõtu statistika",
        "description": "Kuvatakse valitud perioodil toimunud istungite arv. Võimaldab otsida liikme ID ja kuupäeva alusel. Tagastab Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, istungite arvu, osalemise info, puudumise info, lähetuse info, haigusega seotud info, muu info, osavõtu kuupäeva, istungi ID, istungi pealkirja, istungi staatuse, puudumise koodi, puudumise väärtuse ja puudumise kirjelduse.",
        "operationId": "getMemberParticipation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipationStatisticsMemberResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/statistics/participations/faction/{uuid}": {
      "get": {
        "tags": [
          "Statistika"
        ],
        "summary": "Fraktsiooni istungitest osavõtu statistika",
        "description": "Kuvatakse valitud perioodil toimunud istungite arv. Võimaldab otsida fraktsiooni ID ja kuupäeva alusel. Tagastab Riigikogu liikme istungitest osavõtu statistika - Riigikogu liikme lingi, ID, eesnime, perekonnanime, täisnime, aktiivsuse, fraktsiooni ID, fraktsiooni nime, fraktsiooni aktiivsuse, fraktsiooni lingi, fraktsiooni liikmelisuse koosseisu numbri, fraktsiooni liikmelisuse algusaja, fraktsiooni liikmelisuse lõpuaja, fraktsiooni liikmelisuse rolli koodi, fraktsiooni liikmelisuse rolli väärtuse, fraktsiooni liikmelisuse ametinimetuse koodi, fraktsiooni liikmelisuse ametinimetuse väärtuse, istungite arvu, osalemise info, puudumise info, lähetuse info, haigusega seotud info, muu info, osavõtu kuupäeva, istungi ID, istungi pealkirja, istungi staatuse, puudumise koodi, puudumise väärtuse ja puudumise kirjelduse.",
        "operationId": "getFactionParticipation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Liikmete staatuse järgi päring: aktiivsed, mitteaktiivsed või kõik. Kui määratlemata siis vaid aktiivsed",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "ALL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParticipationStatisticsMemberResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/current": {
      "get": {
        "tags": [
          "Istungjärgud"
        ],
        "summary": "Praegune istungjärk",
        "operationId": "getCurrentSession",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "tags": [
          "Istungjärgud"
        ],
        "summary": "Istungjärkude nimekiri",
        "operationId": "getSessions",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Keel",
              "default": "ET",
              "enum": [
                "ET",
                "RU",
                "EN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionResource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
[...]
